body {
    background-color: #fff;
    color: white;
}

h2 {
    margin: 0;
}
.section {
    margin: 20px auto;
    text-align: center;
}
#sorting-view {
    margin-top: 50px;
    width: 80vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.bar {
    background-color: #0087f7;
    border: 1px solid #999;
    margin: 1px;
    position: relative;
    transition: transform .2s ease-out;
}
.bar-title {
    position: absolute;
    top: -20px;
    margin-left: -5px;
    color:#999;
}
#top-bar, #sorting-view, .nav-bar-item {
    font-weight: bold;
    margin-bottom: 10px;
}
select, input {
    margin-right: 10px;
}

#nav-bar {
    margin-top: 50px;
}
